<footer class="footer px-4 justify-content-center">
    <div class="row w-100">
        <div class="col text-start">
            @DateTime.Now.ToString("D")
        </div>
        <div class="col text-end">
            کنترل پنل نسخه ۱.۰.۰ - فروردین ۱۴۰۳
        </div>
       
    </div>
    
</footer>